.center:not(.absolute) {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 2em;
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator:not(:empty)::before {
    margin-right: .5em;
}
.separator:not(:empty)::after {
    margin-left: .5em;
}

.login-section {
    background-color: var(--pg-brand-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 2em 0 5em 0;
    margin: 0;
}
.login-section .container {
    max-width: calc(min(25rem, 100%));
    padding: 0;
}
.card {
    background-color: white;
    border-radius: 10px;
}
.login-register-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0;
}
.login-register-links a.link-active {
    background-color: white;
    color: var(--pg-brand-color);
}
.login-register-links a {
    background-color: var(--pg-brand-color);
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: .5rem 1.5rem;
}
.login-section hr {
    border-top: 4px solid;
    border-color: var(--pg-secondary-color);
    max-width: 80%;
    margin: 2em auto;
}

#card-content {
    padding: 1em;
}

/*desktop view */
@media (min-width: 768px) {
    #card-content {
        padding: 2em 4em;
    }
    .login-section .container {
        max-width: 40rem;
    }
}

.reasons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.reasons-list li {
    display: flex;
    align-items: center;
    gap: 1em;
}

#extra_register_input_marketing {
    display: inline-grid;
    transform: none;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}
.login-buttons img {
    width: 1.5em;
    height: 1.5em;
}
.login-buttons button {
    border-radius: 15px;
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    justify-content: center;
}
.google-button {
    background-color: var(--pg-brand-color);
    color: white;
}
.email-button {
    background-color: white;
    color: var(--pg-brand-color);
    border: 1px solid var(--pg-brand-color);
}
.loginform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    gap: .7em;
}
.loginform label {
   width: 100%;
}
.loginform input{
    display: block;
    width: 100%;
    color: black;
}
.login-username, .login-password {
    width: 100%;
}
.form-error {
    display: none;
    font-size: 1rem;
    font-weight: 700;
}

.form-error, .is-invalid-label {
    color: #cc4b37;
}
meter{
    width:100%;
}
/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

.login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}
.login-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
}

.login-links {
    text-align: center;
    margin-top: 1em;
}
.login-links p {
    margin-bottom: 0.5em;
}

#reset-password-form {
    display: none;
    margin-top: 1em;
    max-width: 20rem;
}

.reset-success-message {
    color: green;
    font-weight: bold;
    display: none;
    margin-top: 1em;
    text-align: center;
}

#reset-password-back {
    margin-bottom: 1.5em;
}
